{% extends "base.html" %}
{% block content %}
<h1>Welcome to my blog!</h1>
{% for post in posts %}
<article>
    <div>
        <div>
            <!-- Post author and date of publication -->
            <a href={{ url_for('profile', name=post.user_name, user_id=post.user_id) }}>{{ post.user_name }}</a> <br>
            Published: {{ post.date }}
        </div>
        <!-- The name of the blog post, and then the blog content -->
        <h2><a href={{ url_for('post_detail', post_title=post.title, post_id=post.id) }}> {{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
    </div>
</article>
<hr>
{% endfor %}
</br>
<div style="border: 1px solid">
    Submit a new blog post!
    <form action="/" method="post">
        <!-- Should be changed --> 
        {{ form.csrf_token }}
        {{ form.author.label }}: {{ form.author(size=40) }} <br>
        {{ form.email.label }}: {{ form.email(size=40)}} <br><br>
        {{ form.title.label }}: {{ form.title(size=40)}} <br>
        {{ form.content.label }}: {{ form.content(size=80)}} <br>
        {{ form.date.label }}: {{ form.date(size=40, class='datepicker', value=default_date_time)}} <br>

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}